<h1> Hi !</h1>
<p>Thank you for your purchase</p>
<p>Your name : </p>
<p>This is a Confirmation Email for participating in Event : tech</p>
<p>Please Bring and Show this email as a recipient when attending the Event to confirm your Identity</p>
<p>You can also use the QrCode Attached to this email as your Ticket</p>
<p>Thank you for your Trust !</p>