{% extends 'base.html.twig' %}

{% block title %}{{app.user.username}}'s profile{% endblock %}

{% block body %}

 {{ include('_navbar.html.twig') }}

  <section class="breadcumb-area bg-img bg-overlay" style="background-image: url(img/bg-img/breadcumb3.jpg);">
    <div class="bradcumbContent">
      <h2>{% block tab_title %} Profile {% endblock %}</h2>
      <br>
      <p>{% block tab_description %} {% endblock %}</p>
    </div>
  </section>

{% block content %} {% endblock %}

{% endblock %}
